CJHToolForWin/Web References/WS_Area/CJHWServiceBase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAreaName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreaNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreaNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTheAreaName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTheAreaNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTheAreaNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreaCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="areaname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAreaCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAreaCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProvinces">
        <s:complexType />
      </s:element>
      <s:element name="GetProvincesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProvincesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCounty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveHHTArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveHHTAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveHHTAreaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelHHTArea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelHHTAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelHHTAreaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHHTAreaRemark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHHTAreaRemarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHHTAreaRemarkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHHTAreaList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHHTAreaListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHHTAreaListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHHTAreaListByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHHTAreaListByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHHTAreaListByNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAreaNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAreaName" />
  </wsdl:message>
  <wsdl:message name="GetAreaNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAreaNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetTheAreaNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetTheAreaName" />
  </wsdl:message>
  <wsdl:message name="GetTheAreaNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetTheAreaNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAreaCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAreaCode" />
  </wsdl:message>
  <wsdl:message name="GetAreaCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAreaCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetProvincesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="GetProvincesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitySoapIn">
    <wsdl:part name="parameters" element="tns:GetCity" />
  </wsdl:message>
  <wsdl:message name="GetCitySoapOut">
    <wsdl:part name="parameters" element="tns:GetCityResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountySoapIn">
    <wsdl:part name="parameters" element="tns:GetCounty" />
  </wsdl:message>
  <wsdl:message name="GetCountySoapOut">
    <wsdl:part name="parameters" element="tns:GetCountyResponse" />
  </wsdl:message>
  <wsdl:message name="SaveHHTAreaSoapIn">
    <wsdl:part name="parameters" element="tns:SaveHHTArea" />
  </wsdl:message>
  <wsdl:message name="SaveHHTAreaSoapOut">
    <wsdl:part name="parameters" element="tns:SaveHHTAreaResponse" />
  </wsdl:message>
  <wsdl:message name="DelHHTAreaSoapIn">
    <wsdl:part name="parameters" element="tns:DelHHTArea" />
  </wsdl:message>
  <wsdl:message name="DelHHTAreaSoapOut">
    <wsdl:part name="parameters" element="tns:DelHHTAreaResponse" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaRemarkSoapIn">
    <wsdl:part name="parameters" element="tns:GetHHTAreaRemark" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaRemarkSoapOut">
    <wsdl:part name="parameters" element="tns:GetHHTAreaRemarkResponse" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListSoapIn">
    <wsdl:part name="parameters" element="tns:GetHHTAreaList" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListSoapOut">
    <wsdl:part name="parameters" element="tns:GetHHTAreaListResponse" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetHHTAreaListByName" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetHHTAreaListByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAreaNameHttpGetIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAreaNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTheAreaNameHttpGetIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTheAreaNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAreaCodeHttpGetIn">
    <wsdl:part name="areaname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAreaCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetProvincesHttpGetIn" />
  <wsdl:message name="GetProvincesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCityHttpGetIn">
    <wsdl:part name="pcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCityHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountyHttpGetIn">
    <wsdl:part name="pcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCountyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveHHTAreaHttpGetIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveHHTAreaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DelHHTAreaHttpGetIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelHHTAreaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaRemarkHttpGetIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaRemarkHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListHttpGetIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListByNameHttpGetIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListByNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAreaNameHttpPostIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAreaNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTheAreaNameHttpPostIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTheAreaNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAreaCodeHttpPostIn">
    <wsdl:part name="areaname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAreaCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetProvincesHttpPostIn" />
  <wsdl:message name="GetProvincesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCityHttpPostIn">
    <wsdl:part name="pcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCityHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCountyHttpPostIn">
    <wsdl:part name="pcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCountyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SaveHHTAreaHttpPostIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveHHTAreaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DelHHTAreaHttpPostIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelHHTAreaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaRemarkHttpPostIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaRemarkHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListHttpPostIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListByNameHttpPostIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHTAreaListByNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CJHWServiceBaseSoap">
    <wsdl:operation name="GetAreaName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地区编码查询完整地名</wsdl:documentation>
      <wsdl:input message="tns:GetAreaNameSoapIn" />
      <wsdl:output message="tns:GetAreaNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTheAreaName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地区编码查询准确匹配地名</wsdl:documentation>
      <wsdl:input message="tns:GetTheAreaNameSoapIn" />
      <wsdl:output message="tns:GetTheAreaNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAreaCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地名查询地区编码</wsdl:documentation>
      <wsdl:input message="tns:GetAreaCodeSoapIn" />
      <wsdl:output message="tns:GetAreaCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取省级列表</wsdl:documentation>
      <wsdl:input message="tns:GetProvincesSoapIn" />
      <wsdl:output message="tns:GetProvincesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取地市级列表</wsdl:documentation>
      <wsdl:input message="tns:GetCitySoapIn" />
      <wsdl:output message="tns:GetCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCounty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取区县级列表</wsdl:documentation>
      <wsdl:input message="tns:GetCountySoapIn" />
      <wsdl:output message="tns:GetCountySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveHHTArea">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">保存户户通乡镇村信息</wsdl:documentation>
      <wsdl:input message="tns:SaveHHTAreaSoapIn" />
      <wsdl:output message="tns:SaveHHTAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelHHTArea">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除户户通乡镇村信息</wsdl:documentation>
      <wsdl:input message="tns:DelHHTAreaSoapIn" />
      <wsdl:output message="tns:DelHHTAreaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaRemark">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取户户通编码对应说明</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaRemarkSoapIn" />
      <wsdl:output message="tns:GetHHTAreaRemarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取户户通编码指定乡镇列表</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaListSoapIn" />
      <wsdl:output message="tns:GetHHTAreaListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaListByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取包含指定地名列表</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaListByNameSoapIn" />
      <wsdl:output message="tns:GetHHTAreaListByNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CJHWServiceBaseHttpGet">
    <wsdl:operation name="GetAreaName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地区编码查询完整地名</wsdl:documentation>
      <wsdl:input message="tns:GetAreaNameHttpGetIn" />
      <wsdl:output message="tns:GetAreaNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTheAreaName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地区编码查询准确匹配地名</wsdl:documentation>
      <wsdl:input message="tns:GetTheAreaNameHttpGetIn" />
      <wsdl:output message="tns:GetTheAreaNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAreaCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地名查询地区编码</wsdl:documentation>
      <wsdl:input message="tns:GetAreaCodeHttpGetIn" />
      <wsdl:output message="tns:GetAreaCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取省级列表</wsdl:documentation>
      <wsdl:input message="tns:GetProvincesHttpGetIn" />
      <wsdl:output message="tns:GetProvincesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取地市级列表</wsdl:documentation>
      <wsdl:input message="tns:GetCityHttpGetIn" />
      <wsdl:output message="tns:GetCityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCounty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取区县级列表</wsdl:documentation>
      <wsdl:input message="tns:GetCountyHttpGetIn" />
      <wsdl:output message="tns:GetCountyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveHHTArea">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">保存户户通乡镇村信息</wsdl:documentation>
      <wsdl:input message="tns:SaveHHTAreaHttpGetIn" />
      <wsdl:output message="tns:SaveHHTAreaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelHHTArea">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除户户通乡镇村信息</wsdl:documentation>
      <wsdl:input message="tns:DelHHTAreaHttpGetIn" />
      <wsdl:output message="tns:DelHHTAreaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaRemark">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取户户通编码对应说明</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaRemarkHttpGetIn" />
      <wsdl:output message="tns:GetHHTAreaRemarkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取户户通编码指定乡镇列表</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaListHttpGetIn" />
      <wsdl:output message="tns:GetHHTAreaListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaListByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取包含指定地名列表</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaListByNameHttpGetIn" />
      <wsdl:output message="tns:GetHHTAreaListByNameHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CJHWServiceBaseHttpPost">
    <wsdl:operation name="GetAreaName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地区编码查询完整地名</wsdl:documentation>
      <wsdl:input message="tns:GetAreaNameHttpPostIn" />
      <wsdl:output message="tns:GetAreaNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTheAreaName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地区编码查询准确匹配地名</wsdl:documentation>
      <wsdl:input message="tns:GetTheAreaNameHttpPostIn" />
      <wsdl:output message="tns:GetTheAreaNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAreaCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据地名查询地区编码</wsdl:documentation>
      <wsdl:input message="tns:GetAreaCodeHttpPostIn" />
      <wsdl:output message="tns:GetAreaCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取省级列表</wsdl:documentation>
      <wsdl:input message="tns:GetProvincesHttpPostIn" />
      <wsdl:output message="tns:GetProvincesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取地市级列表</wsdl:documentation>
      <wsdl:input message="tns:GetCityHttpPostIn" />
      <wsdl:output message="tns:GetCityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCounty">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取区县级列表</wsdl:documentation>
      <wsdl:input message="tns:GetCountyHttpPostIn" />
      <wsdl:output message="tns:GetCountyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveHHTArea">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">保存户户通乡镇村信息</wsdl:documentation>
      <wsdl:input message="tns:SaveHHTAreaHttpPostIn" />
      <wsdl:output message="tns:SaveHHTAreaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelHHTArea">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除户户通乡镇村信息</wsdl:documentation>
      <wsdl:input message="tns:DelHHTAreaHttpPostIn" />
      <wsdl:output message="tns:DelHHTAreaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaRemark">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取户户通编码对应说明</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaRemarkHttpPostIn" />
      <wsdl:output message="tns:GetHHTAreaRemarkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取户户通编码指定乡镇列表</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaListHttpPostIn" />
      <wsdl:output message="tns:GetHHTAreaListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaListByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取包含指定地名列表</wsdl:documentation>
      <wsdl:input message="tns:GetHHTAreaListByNameHttpPostIn" />
      <wsdl:output message="tns:GetHHTAreaListByNameHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CJHWServiceBaseSoap" type="tns:CJHWServiceBaseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAreaName">
      <soap:operation soapAction="http://tempuri.org/GetAreaName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheAreaName">
      <soap:operation soapAction="http://tempuri.org/GetTheAreaName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCode">
      <soap:operation soapAction="http://tempuri.org/GetAreaCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap:operation soapAction="http://tempuri.org/GetProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <soap:operation soapAction="http://tempuri.org/GetCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounty">
      <soap:operation soapAction="http://tempuri.org/GetCounty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHHTArea">
      <soap:operation soapAction="http://tempuri.org/SaveHHTArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelHHTArea">
      <soap:operation soapAction="http://tempuri.org/DelHHTArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaRemark">
      <soap:operation soapAction="http://tempuri.org/GetHHTAreaRemark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaList">
      <soap:operation soapAction="http://tempuri.org/GetHHTAreaList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaListByName">
      <soap:operation soapAction="http://tempuri.org/GetHHTAreaListByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CJHWServiceBaseSoap12" type="tns:CJHWServiceBaseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAreaName">
      <soap12:operation soapAction="http://tempuri.org/GetAreaName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheAreaName">
      <soap12:operation soapAction="http://tempuri.org/GetTheAreaName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCode">
      <soap12:operation soapAction="http://tempuri.org/GetAreaCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap12:operation soapAction="http://tempuri.org/GetProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <soap12:operation soapAction="http://tempuri.org/GetCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounty">
      <soap12:operation soapAction="http://tempuri.org/GetCounty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHHTArea">
      <soap12:operation soapAction="http://tempuri.org/SaveHHTArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelHHTArea">
      <soap12:operation soapAction="http://tempuri.org/DelHHTArea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaRemark">
      <soap12:operation soapAction="http://tempuri.org/GetHHTAreaRemark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaList">
      <soap12:operation soapAction="http://tempuri.org/GetHHTAreaList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaListByName">
      <soap12:operation soapAction="http://tempuri.org/GetHHTAreaListByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CJHWServiceBaseHttpGet" type="tns:CJHWServiceBaseHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAreaName">
      <http:operation location="/GetAreaName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheAreaName">
      <http:operation location="/GetTheAreaName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCode">
      <http:operation location="/GetAreaCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <http:operation location="/GetProvinces" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <http:operation location="/GetCity" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounty">
      <http:operation location="/GetCounty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHHTArea">
      <http:operation location="/SaveHHTArea" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelHHTArea">
      <http:operation location="/DelHHTArea" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaRemark">
      <http:operation location="/GetHHTAreaRemark" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaList">
      <http:operation location="/GetHHTAreaList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaListByName">
      <http:operation location="/GetHHTAreaListByName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CJHWServiceBaseHttpPost" type="tns:CJHWServiceBaseHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAreaName">
      <http:operation location="/GetAreaName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTheAreaName">
      <http:operation location="/GetTheAreaName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCode">
      <http:operation location="/GetAreaCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <http:operation location="/GetProvinces" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCity">
      <http:operation location="/GetCity" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounty">
      <http:operation location="/GetCounty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHHTArea">
      <http:operation location="/SaveHHTArea" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelHHTArea">
      <http:operation location="/DelHHTArea" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaRemark">
      <http:operation location="/GetHHTAreaRemark" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaList">
      <http:operation location="/GetHHTAreaList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHTAreaListByName">
      <http:operation location="/GetHHTAreaListByName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CJHWServiceBase">
    <wsdl:port name="CJHWServiceBaseSoap" binding="tns:CJHWServiceBaseSoap">
      <soap:address location="http://cjh.viplive.cn:81/CJHWServiceBase.asmx" />
    </wsdl:port>
    <wsdl:port name="CJHWServiceBaseSoap12" binding="tns:CJHWServiceBaseSoap12">
      <soap12:address location="http://cjh.viplive.cn:81/CJHWServiceBase.asmx" />
    </wsdl:port>
    <wsdl:port name="CJHWServiceBaseHttpGet" binding="tns:CJHWServiceBaseHttpGet">
      <http:address location="http://cjh.viplive.cn:81/CJHWServiceBase.asmx" />
    </wsdl:port>
    <wsdl:port name="CJHWServiceBaseHttpPost" binding="tns:CJHWServiceBaseHttpPost">
      <http:address location="http://cjh.viplive.cn:81/CJHWServiceBase.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>